doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		title MTU Members Portal
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='https://raw2.github.com/drvic10k/bootstrap-sortable/master/Contents/bootstrap-sortable.css',  type='text/css')
		link(rel='stylesheet', href='/css/app.css')
		script(src='/js/jquery-2.0.3.min.js')
		script(src='/js/bootstrap.min.js')
		script(src='/js/parsley.js')
		script(src="https://raw.github.com/Marak/Faker.js/master/MinFaker.js")
		script(src="http://momentjs.com/downloads/moment-with-langs.min.js")
		script(src="https://raw2.github.com/drvic10k/bootstrap-sortable/master/Scripts/bootstrap-sortable.js")
		script(src='/js/web.js')
		style .navbar{border-radius:0} .btn-success.active{background-color: #666;}
	body
			nav.navbar.navbar-inverse(role="navigation")
				section.container
					ul.nav.navbar-nav
						li
							a(href='/')
								span.glyphicon.glyphicon-home
						li
							a(href='/members/register') Register New Member
						li
							a(href='/members') Members
						li
							a(href='/sms') Bulk Message
					ul.nav.navbar-nav.pull-right
						li
							a(href='/user/password') Change Password
						li
							a(href='/logout') Logout
			section.container
				block content
