extends layout

block content
	h1 Change your password
	hr
	section.row
		section.col-md-9
			form.form-horizontal(role='form', method='post', action=''  parsley-validate)#update-password-form
				section.form-group
					label.col-sm-3.control-label New password
					section.col-sm-5
						input(type='password', required).form-control#password_new
				section.form-group
					label.col-sm-3.control-label Type it again
					section.col-sm-5
						input(type='password',required, parsley-equalto="#password_new").form-control#password_confirm
				section.form-group
					label.col-sm-3.control-label &nbsp;
					section.col-sm-5
						button(type='submit').btn Update Password
